// fonts ////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i|Open+Sans:300,400,400i,700');



// colors ///////////////////////////

// material colors
$primary: #f5f5f5;
$secondary: #fff8e1;
$accent: #ec407a;
$success: #80cbc4;
$info: #263238;
$warning: #FFC107;
$error: #FF5252;

// base //

$white: #fff;
$black: #000;
$grey: #666666;

// variants //

$light: #F1F1F1;
$dark: #262626;
$offwhite: #f8f9fb;
$lightgrey: #f3f4f6;
$lightblue: #C8DDE2;
$darkblue: #1B2F36;